<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Registrarse</h2>
        <br>
        <form name="sign-up" (ngSubmit)="f.form.valid && signUp()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="correoElectronico"><b>Correo Electrónico</b></label>
                <input type="text" name="correoElectronico" class="form-control" id="correoElectronico" [(ngModel)]="user.correoElectronico" required>
            </div>
            <div class="form-group">
                <label for="contrasenia"><b>Contraseña</b></label>
                <input type="password" name="contrasenia" class="form-control" id="contrasenia" [(ngModel)]="user.contrasenia" required>
            </div>
            <div class="form-group">
                <label for="rol"><b>Rol</b></label>
                <select class="custom-select" name="rol" id="rol" [(ngModel)]="user.rol" required>
                    <option [value]="rol" *ngFor="let rol of roles">{{rol}}</option>
                </select>
            </div>
            <div class="justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>