<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Crear un evento</h2>
            <br>
            
            <form name="evento" (ngSubmit)="f.form.valid && createEvento()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="eventoNombre"><b>Nombre</b></label>
                    <input type="text" name="eventoNombre" class="form-control" id="eventoNombre" [(ngModel)]="evento.nombre"
                        #eventoNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventoNombre.invalid }" required>
                    
                </div>

                <div class="form-group">
                    <label for="eventoImagen"><b>Imagen</b></label>
                    <input type="text" name="eventoImagen" class="form-control" id="eventoImagen" [(ngModel)]="evento.imagen"
                        #eventoImagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventoImagen.invalid }" required>
                    <div class="invalid-feedback">
                        <div>este campo es obligatorio</div>
                    </div>
                </div>
                  <div class="form-group">
                    <label for="eventoPrivado"><b>publicio</b></label>
                    <input type="checkbox" name="eventoPrivado" class="form-control" id="eventoPrivado"  [(ngModel)]="evento.privado"
                        #eventoPrivado="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventoPrivado.invalid }" required> 
                </div>
              
              
                 <div class="form-group">
                    <label for="fechaInicioEvento"><b>Fecha Inicio</b></label>
                    <div [ngClass]="{ 'is-invalid': f.submitted && fechaInicioEvento.invalid }">
                        <input class="form-control" id="fechaInicioEvento"  name ="fechaInicioEvento" [(ngModel)]="evento.fechaInicio"
                            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" #fechaInicioEvento="ngModel" [ngClass]="{'is-invalid': (fechaInicioEvento.untouched || fechaInicioEvento.invalid) }"
                            required>
                        <div class="invalid-feedback">
                            <div>Falta la fecha de inicio del evento</div>
                        </div>
                    </div>
                </div>
                  
                    <div class="form-group">
                    <label for="fechaFinEvento"><b>Fecha Fin</b></label>
                    <div [ngClass]="{ 'is-invalid': f.submitted && fechaFinEvento.invalid }">
                        <input class="form-control" id="fechaFinEvento" name="fechaFinEvento" [(ngModel)]="evento.fechaFin"
                            ngbDatepicker #c="ngbDatepicker" (click)="c.toggle()" #fechaFinEvento="ngModel" [ngClass]="{'is-invalid': (fechaFinEvento.untouched || fechaFinEvento.invalid) }"
                            required>
                        <div class="invalid-feedback">
                            <div>Falta la fecha de fin del evento</div>
                        </div>
                    </div>
                </div>
                  
                <div class="form-group">
                    <label for="eventoDescripcion"><b>Descripcion</b></label>
                    <textarea name="eventoDescripcion" class="form-control" id="eventoDescripcion" [(ngModel)]="evento.descripcion"
                        #eventoDescripcion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventoDescripcion.invalid }"
                        required></textarea>
                    <div class="invalid-feedback">
                        <div>este campo es obligatorio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="eventoDetalles"><b>Detalles</b></label>
                    <input type="text" name="eventoDetalles" class="form-control" id="eventoDetalles" [(ngModel)]="evento.detalles"
                        #eventoDetalles="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventoDetalles.invalid }" required>
                    <div class="invalid-feedback">
                        <div>este campo es obligatorio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="eventoCapacidadMaxima"><b>Capacidad Maxima</b></label>
                    <input type="number" name="eventoCapacidadMaxima" class="form-control" id="eventoCapacidadMaxima" [(ngModel)]="evento.capacidadMaxima"
                        #eventoCapacidadMaxima="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventoCapacidadMaxima.invalid }" required>
                    <div class="invalid-feedback">
                        <div>este campo es obligatorio</div>
                        </div>
                </div>
                  <div class="form-group">
                    <label for="eventoBoletasDisponibles"><b>Boletas Disponibles</b></label>
                    <input type="number" name="eventoBoletasDisponibles" class="form-control" id="eventoBoletasDisponibles" [(ngModel)]="evento.boletasDisponibles"
                        #eventoBoletasDisponibles="ngModel" [ngClass]="{ 'is-invalid': f.submitted && eventoBoletasDisponibles.invalid }" required>
                    <div class="invalid-feedback">
                        <div>este campo es obligatorio</div>
                        </div>
                </div>
                
                <br>
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br>
<br>