<div class="container-fluid">
<!-- Grid row -->
<div class="row">
<div *ngFor="let multimedia of multimedias; let i =index">
  <!-- Grid column -->
  <div class="col">

    <!--Modal: Name-->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <img src="{{multimedia.url}}" alt="..." >

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <span class="mr-4">{{multimedia.nombre}}</span>
           

            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!--Modal: Name-->

    <a><img class="img-fluid z-depth-1" src="{{multimedia.url}}" alt="img"
        data-toggle="modal" data-target="#modal1" ></a>
    </div>
  </div>
  <!-- Grid column -->
</div>

 <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
              (click)="showHideCreate()">Agregar Multimedia</button>
           <div *ngIf="showCreate">
                <app-multimedia-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-multimedia-create>
            </div>
</div> 
