<div class = 'container-fluid'>
    <div class="col">
        <div class="row justify-content-center align-self-center" >
            
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear</button>
          
    </div>
  <div class ="row">
    <div *ngFor= "let evento of eventos">
      <div class="card" style="width: 16rem;">
        <div class="cardody">
          <h4 class="card-title">{{evento.nombre}}</h4>
          <img class="card-img-top" src="https://www.retif.es/media/image/400x/papel-de-seda-50-x-75-cm-240-hojas-gris-perla_50.jpg" alt="Card image cap">
        <div class="card-body">
             <!-- DETALLES DESPUES SE BORRAN-->
              <div class="row">
                <div class ="col">
                <button href="#" class="btn btn-primary" routerLink = "/eventos/{{evento.id}}">Ver </button>
                </div>
                <div class ="col">
                    <button class="btn btn-primary" (click)="showHideEdit(evento.id)">Editar<span class="fa fa-pencil"></span></button>
               
                </div>
              </div>
        </div>
      </div>
     </div>
    </div>
    </div>
          <div *ngIf="showCreate">
                <app-evento-create (cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate">
                    
                </app-evento-create>
            </div>
             <div *ngIf="showEdit">
                <app-evento-edit [evento]="selectedEvento" (cancel)="showHideEdit(selectedEvento.id)" (update)="updateEvento()" ></app-evento-edit>
            </div>
</div> 
</div>


