<p>
  evento-list works!
</p>



<div class = 'container-fluid'>
  <div class ="row">
    <div class="col-12 col-sm-6 col-md-8">

      <div class="card" style="width: 16rem;">
        <div class="cardody">
          <h4 class="card-title">Nombre<!--{{evento.name}}--></h4>
          <img class="card-img-top" src="https://www.retif.es/media/image/400x/papel-de-seda-50-x-75-cm-240-hojas-gris-perla_50.jpg" alt="Card image cap">
        <div class="card-body">
             <!-- DETALLES DESPUES SE BORRAN-->
              <div class="row">
                <div class ="col">
                <a href="#" class="btn btn-primary" routerLink = 'eventos/detail'>Ver </a>
                </div>
                <div class ="col">
                <a href="#" class="btn btn-primary" routerLink = 'eventos/edit'>Editar</a>
                </div>
              </div>
        </div>
      </div>

    </div>
  </div>
</div>



