<div class="container-fluid">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha de Pago</th>
                    <th scope="col">Iva</th>
                    <th scope="col">Total</th>
                </tr>
            <tbody>
              <tr *ngFor = "let factura of facturas">
                    <th scope ="row">{{factura.id}}</th>
              </tr>
            </tbody>
        </table>
    </div>
</div>