<p>
  evento-list works!
</p>
<div class = 'container-fluid'>
    <p>
heroes-list works!
</p>

     <a *ngFor="let evento  of eventos">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{evento.name}}</h5>
    <p class="card-text">
        <!-- DETALLES DESPUES SE BORRAN-->
      <p>
      id:{{evento.id}}
      </p>
      <p>
      nombre:{{evento.name}}
      </p>
      <p>
      descripcion{{evento.address}}
      </p>
      <p>
      fechaInicio{{evento.fechaInicio}}
      </p>
      <p>
      detalles{{cliente.detalles}}
      <p>
      privado{{evento.privado}}
      </p>
      <p>
      capacidadMaxima{{evento.capacidadMaxima}}
      </p>
      <p>
      boletasDisponibles{{evento.boletasDisponibles}}
      
      

    </p>
    <a href="#" class="btn btn-primary">Ver Detalle</a>
  </div>

</div>



