<div class="row">
    <div class="col-2"></div>
    <div class="col-12">
        <br>
        <h3 class="text-center">Editar multimedia</h3>
        <br>
        <form nombre="multimedia" (ngSubmit)="f.form.valid && editMultimedia()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="multimediaNombre"><b>Nombre</b></label>
                <input type="text" name="multimediaNombre" class="form-control" id="multimediaNombre" [(ngModel)]="multimedia.nombre"
                    #multimediaNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && multimediaNombre.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta el nombre de la multimedia</div>
                </div>
            </div>
            <div class="form-group">
                <label for="multimediaUrl"><b>URL</b></label>
                <input type="text" name="multimediaUrl" class="form-control" id="multimediaUrl" [(ngModel)]="multimedia.url"
                    #multimediaUrl="ngModel" [ngClass]="{ 'is-invalid': f.submitted && multimediaUrl.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta la URL de la multimedia</div>
                </div>
            </div>
            <div class="form-group">
                <label for="multimediaTipo"><b>Tipo</b></label>
                <input type="text" name="multimediaTipo" class="form-control" id="multimediaTipo" [(ngModel)]="multimedia.tipo"
                    #multimediaTipo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && multimediaTipo.invalid }" required>
                <div class="invalid-feedback">
                    <div>Falta el tipo de la multimedia</div>
                </div>
            </div>
            <div class="form-group" align="center">
                <input name="multimediaMemoria" class="form-check-input" type="checkbox" value="" id="multimediaMemoria" [(ngModel)]="multimedia.memoria"
                    #multimediaMemoria="ngModel" [ngClass]="{ 'is-invalid': f.submitted && multimediaTipo.invalid }" required>
                <label class="form-check-label" for="multimediaMemoria"><b>Memoria</b></label>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Editar</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>