<div class = 'container-fluid'>
    <div class="row">
        <div class="col align-self-end">
            <button  type="button" class="btn-primary" >Crear Patrocinador</button>
        </div>
    </div>
 <div class="row">
        <div *ngFor = "let patrocinador of patrocinadores" >
             <figure class="figure" routerLink="/patrocinadores/{{patrocinador.id}}" style="cursor: pointer;"> 
                <div class="img-thumbnail border-1">                        
                    <img class="img-fluid" src='{{patrocinador.imagen}}' alt="{{patrocinador.nombre}}" />                                     
                </div>
            </figure>
        </div>
    </div>    
</div>

       

