<div class = 'container-fluid'>
    <br>
  <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
              (click)="showHideCreate()">Crear Patrocinador</button>
          
     <div class="row" id="patrocinadores">
        <div *ngFor = "let patrocinador of patrocinadores" >
             <figure class="figure" routerLink="/patrocinadores/{{patrocinador.id}}" style="cursor: pointer;"> 
                <div class="img-thumbnail border-1">                        
                    <img class="img-fluid" src='{{patrocinador.imagen}}' alt="{{patrocinador.nombre}}" />                                     
                </div>
            </figure>
        </div>
    </div>   
     <div *ngIf="showCreate">
                <app-patrocinador-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-patrocinador-create>
            </div>
</div>

       

