<!-- 
<p>
  evento-detail works!
  </p>
 <div class="container-fluid">

  <div class ="row">
    <button > Back</button>
  </div>
<div class="row">
  <div class="col-4">
    <img class="img-detail" src="https://www.retif.es/media/image/400x/papel-de-seda-50-x-75-cm-240-hojas-gris-perla_50.jpg" alt="Card image cap">
  </div>
  <div class ="col" >
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto mt-0">
                  <ul class="nav nav-tabs">    
                    <li class="nav-item">
                      <a id="detallesTag" class="nav-link" routerLink="/eventos/{{evento.id}}/detalles" >Detalles</a>
                    </li>
                    <li class="nav-item">
                        <a id="entradaTag" class="nav-link" routerLink="/eventos/{{evento.id}}/entradas">Entradas</a>
                    </li>
                    <li class="nav-item">
                      <a id="organizadoresTag" class="nav-link" routerLink="/eventos/{{evento.id}}/organizadores"> Organizadores</a> 
                    </li>
                    <li class="nav-item">
                      <a id="patrocinadoresTag" class="nav-link" routerLink="/eventos/{{evento.id}}/patrocinadores">Patrocinadores</a>
                    </li>
                    <li class="nav-item">
                      <a id="calificacionesTag" class="nav-link" routerLink="/eventos/{{evento.id}}/calificaciones">Calificaciones</a>
                    
                    <li class="nav-item">
                      <a id="multimediaTag" class="nav-link" routerLink="/eventos/{{evento.id}}/multimedias">Multimedia</a>
                    </li>
                    <li class="nav-item">
                      <a id="agendasTag" class="nav-link"routerLink="/eventos/{{evento.id}}/agendas"> Agendas</a>
                    </li>
                  </ul>
                </div>
              </div>
      </nav>
  </div>
</div>


    
    
 
  
