<div class="container-fluid">   
    <div class ="row">
        <button routerLink="eventos/list"> Back</button>
    </div>
    <div class="row">
        <div class="col"width="40%">
            <img class="img-detail" src="https://www.retif.es/media/image/400x/papel-de-seda-50-x-75-cm-240-hojas-gris-perla_50.jpg" alt="Card image cap">
        </div>
    <div class ="col" >
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto mt-0">
                  <ul class="nav nav-tabs">    
                     <li class="nav-item">
                      <td id="descripcionEvento" style="cursor: pointer;" class="nav-link"(click)="showDescr()" >Descripcion</td>
                    </li>
                    <li class="nav-item">
                      <td id="entradaTag" style="cursor: pointer;"class="nav-link"(click)="showEntrada()">Entradas</td>
                    </li>
                   <li class="nav-item">
                      <td id="organizadoresTag" style="cursor: pointer;"class="nav-link"(click)="showOrganizador()"> Organizadores</td> 
                    </li>
                    <li class="nav-item">
                      <td id="patrocinadoresTag" style="cursor: pointer;"class="nav-link" (click)="showPatrocinador()">Patrocinadores</td>
                    </li>
                    <li class="nav-item">
                      <td id="calificacionTag" style="cursor: pointer;" class="nav-link"  (click)="showCalificacion()" >Calificaciones</td>
                   </li>
                    
                    <li class="nav-item">
                      <td id="multimediaTag" style="cursor: pointer;"class="nav-link" (click)="showMultimedia()">Multimedia</td>
                   </li>
                    <li class="nav-item">
                      <td id="agendasTag" style="cursor: pointer;"class="nav-link"(click)="showAgendas()"> Agenda</td>
                    </li>
                  </ul>
                </div>
              </div>
              
      </nav>
      <div *ngIf="showCalif">
          <app-calificacion-list></app-calificacion-list>
        </div>
        <div *ngIf="showDescripcion">
          <app-evento-detalles></app-evento-detalles>
        </div>
        <div *ngIf="showEntradas">
          <app-entrada-list></app-entrada-list>
        </div>
        <div *ngIf="showOrganizadores">
          <app-organizador-list></app-organizador-list>
        </div>
        <div *ngIf="showPatrocinadores">
          <app-patrocinador-list></app-patrocinador-list>
        </div>
        <div *ngIf="showMultimedias">
          <app-multimedia></app-multimedia>
        </div>
        <div *ngIf="showAgendas">
          <app-agenda></app-agenda>
        </div>
  </div>
</div>
</div>

    
 
  