<form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Número</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Número de la entrada" value="" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Locación</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Locación" value="" required>
          </div>
          <div class="col-md-4 mb-3">
                <label for="validationDefault02">Descripción</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Descripción" value="" required>
            </div>
         
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-2">
            <label for="validationDefault04">Precio</label>
            <input type="text" class="form-control" id="validationDefault04" placeholder="Precio" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault04">Disponible</label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="Disponble" required>
          </div>
          <div class="col-md-3 mb-3">
                <label for="validationDefault04">Check-In</label>
                <input type="text" class="form-control" id="validationDefault06" placeholder="Check-In" required>
          </div>
          <div class="col-md-3 mb-3">
                <label for="validationDefault04">Reservado</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="Reservado" required>
          </div>
          <div class="col-md-3 mb-3">
                <label for="validationDefault04">QR</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="QR" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Agree to terms and conditions
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>