<div>
        <br>
        <h2 class="text-center">Crear nuevo medio de pago</h2>
        <br>
    <form name="agenda" (ngSubmit)="f.form.valid && editMedioDePago()" #f="ngForm" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="medioDePagoTitular">Nombre y primer apellido del titular</label>
                <input type="text" name="medioDePagoTitular" class="form-control" id="medioDePagoTitular" placeholder="Nombre y apellido" value="Austin" [(ngModel)]="medioDePago.titular"
                #titular="ngModel" [ngClass]="{ 'is-invalid': f.submitted && medioDePago.invalid }" required>
              </div>
              
              <div class="col-md-4 mb-3">
                    <label for="medioDePagoNumero">Número cuenta</label>
                    <input type="text" name="medioDePagoNumero" class="form-control" id="medioDePagoNumero" placeholder="Número" [(ngModel)]="medioDePago.numero"
                    #numero="ngModel" [ngClass]="{ 'is-invalid': f.submitted && medioDePago.invalid }" required>
                </div>
             
            </div>
            <div class="form-row">
              <div class="col-md-3 mb-2">
                <label for="medioDePagoCodigo">Código de seguridad</label>
                <input type="text" name="medioDePagoCodigo" class="form-control" id="medioDePagoCodigo" placeholder="City" [(ngModel)]="medioDePago.codigoDeSeguridad"
                #codigoDeSeguridad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && medioDePago.invalid }" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="medioDePagoFecha">Fecha de expiración</label>
                <input type="text" name="medioDePagoFecha" class="form-control" id="medioDePagoFecha" placeholder="State" [(ngModel)]="medioDePago.fechaDeExpiracion"
                #fechaDeExpiracion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && medioDePago.invalid }" required>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                  Agree to terms and conditions
                </label>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Enviar cambios</button>
            <button class="btn btn-primary po" type="submit"  (click)="cancelEdition()" >Cancelar</button>

            </form>
          </div>