<div class="container-fluid">
    <div class="row justify-content-end align-left" >
       <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
              (click)="showHideCreate()">Crear entrada</button>
    </div>
    <div class="row">
    <div class="card" *ngFor = "let entrada of entradas" >
                <button type="button" class="btn btn-secondary" style="cursor: pointer;" (click)="onSelected(entrada.id)" routerLink="/entradas/{{entrada.id}}">{{entrada.numero}}</button>
    </div> 
    </div>
    <div *ngIf="showCreate">
          <app-entrada-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-entrada-create>
    </div>
</div>

   
