<div class="container-fluid">
  <div class="row ">
       <div class="col-sm"></div>
       <div class="col-sm">Frente</div>
        <div class="col-sm"></div>

  </div>
    <div class="row">
         <div class="col-sm" ></div>   
        <div class="col-6">  
            <div class="row">
            <div class="col-sm-1" *ngFor = "let entrada of entradas" >
             
                <button type="button" class="btn btn-secondary" style="cursor: pointer;" (click)="onSelected(entrada.id)" routerLink="/entradas/{{entrada.id}}">{{entrada.numero}}</button>
            </div>
            </div>
        </div> 
        <div class="col-sm"></div>       
    </div>
    <div class="row">
      <div class="col-sm"></div>       
      <div class="col-sm">     
          <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
              (click)="showHideCreate()">Crear entrada</button>
           <div *ngIf="showCreate">
                <app-entrada-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-entrada-create>
            </div>
      </div>
      <div class="col-sm"></div>       
    </div>
</div>

   


   
