<div class="container-fluid">
    <div class="row">
        <div class="col-6">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Horario</th>
              <th>Nombre </th>
              <th>Informacion</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let agenda of agendas" >
                <td><dd>
                    <div class="row">
                    Hora inicio:{{agenda.horaInicio}}  
                    </div>
                    <div class="row">
                    Hora fin:{{agenda.horaFinal}}
                    </div>
                </dd></td>
                <td> 
                    <dd>{{agenda.nombre}}</dd>
                </td>
                <td >
                <button class="btn btn-primary" style="cursor: pointer;"  (click)="onSelected(agenda.id)">Ver</button>
                </td>
                <td >
                    <button class="btn btn-primary" (click)="showHideEdit(agenda.id)"><span class="fa fa-pencil"></span></button>
                    <button class="btn btn-danger" (click)="deleteAgenda(agenda.id)"><span class="fa fa-trash"></span></button>
                </td>
                </tr>
        </tbody>
    </table>
            <div class="row justify-content-center align-self-center" >
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Create an agenda</button>
    </div>
   </div>
        <div class="col">
            
            <div *ngIf="showView">
                <app-agenda-detail [agendaDetail]="selectedAgenda"></app-agenda-detail>
            </div>
        </div>
        
            <div *ngIf="showCreate">
                <app-agenda-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-agenda-create>
            </div>
            <div *ngIf="showEdit">
                <app-agenda-edit [agenda]="selectedAgenda" (cancel)="showHideEdit(selectedAgenda.id)" (update)="updateAgenda()" ></app-agenda-edit>
            </div>
        </div>  
    </div>


